/* altering bootstrap css*/
.row{
	margin: 0px;
	padding: 0px;
}

.container-fluid{
	margin: 0px;
	padding: 0px;
}

/* CSS styling*/
p {
	text-align: center;
}

h1{
	text-align: center;
}

section img {
	height: 100px;
	width: 100%;
}

article {
	border-style: dotted;
	border-width: 3px;
	margin-top: 20px;
}

body {
	background-color: gray;
}

.banner img{
	height: 100px;
}

/*.stark img{
	height: 200px;
}*/